@model LearningSystem.Models.ViewModels.Course.CourseDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>@Html.DisplayFor(model => model.Name)</h4>
    <hr />
    
    @if (Model.IsCurrentUserSignedUp)
    {
        @Html.ActionLink("Sign out", "SignOut", "Courses", new { id = Model.Id }, new { @class = "btn btn-warning" })
    }
    else
    {
        @Html.ActionLink("Sign up", "SignUp", "Courses", new { id = Model.Id }, new { @class = "btn btn-warning" })
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrainerName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrainerName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
