@model LearningSystem.Models.ViewModels.User.UserDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>UserDetailsViewModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CUsername)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CUsername)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

    </dl>
</div>
<hr />
<div>Roles</div>
<ul>
    @foreach (var role in Model.Roles)
    {
        <li>@role</li>
    }
</ul>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
