@model IEnumerable<LearningSystem.Models.ViewModels.Article.ArticleIndexViewModel>

@{
    ViewBag.Title = "View";
}

<h2>View</h2>

<p>
    @if (User.IsInRole("BlogAuthor"))
    {
        @Html.ActionLink("Create New", "Create")
    }
    
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PublishDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AuthorName)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PublishDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AuthorName)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @if (User.IsInRole("BlogAuthor"))
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) 
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            }
            
        </td>
    </tr>
}

</table>
